body{
    font-family: 'Roboto', sans-serif;
    font-size: 400;
    color: #333;
    background-color: #fff;
    line-height: 1.4;
    
}
.about {
}
.aboutME {
    text-align: center;
    font-size: 40px;
    padding: 30px 0;
    text-transform: uppercase;
    background-color: #f3f3f3;
    font-weight: 900;
    color: rgb(212, 212, 212);
    border-top: 1px solid;

}
.contetn-block {
    display: flex;
    justify-content: space-between;
    margin: 80px 0;
}
.text-block {

    max-width: 500px;
    margin-top: 100px;
}
.text-block h3{
    font-size: 18px;
    color: #F47B1E;
    font-weight: 900;
}
.text-block h2{
    font-size: 32px;
    margin-top: 5px;
    padding-bottom: 15px;
    position: relative;
}
.text-block h2::after{
    content:'';
    width:120px;
    height: 2px;
    background-color: #F47B1E;
    position: absolute;
    bottom: 0;
    left: 0;
}
.text-block p{
    font-size: 18px;
    margin-top: 20px;
    
}

.picture img {
    max-width: 500px;
}
.picture{
    padding: 0 0 30px 30px;
    position: relative;
}
.picture::after{
    content:'';
    width: 500px;
    height: 500px;
    background-color:#F47B1E;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.experience {
    margin: 80px 0;
    padding: 80px 0;
    background-color: #f3f3f3;
}

.experience-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.experience-card {
    flex: 0 0 24%;

}
.num {max-width: 200px;
    padding: 30px 0px;
    text-align: center;
}

.num h3{
    font-size: 60px;
    font-weight: 900;
    color: rgb(212, 212, 212);
} 
.num p{
    margin-top: 15px;
    color:rgb(66, 66, 66);
    font-size: 18px;
}